[Unit]
Description=Ultrasonic Daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/libexec/jebot/ultrasonicd
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
